* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background10: #db4437;
    --bodyBackground: #222627;
    --backgroundBlack: #000000;
    --bg-Graydrak: #303334;
    --background-sky: #597dca;
    --background-twitter: #1da1f2;
    --background-link: #3b5998;
    --background-color1: #191c1d;
    --background-color-2: #0a0a0a;
    --background-brown: #a67c52;
    --background: #db4437;
    --grayColor: #a6a6a6;
    --whiteCoor: #ffffff;
    --textColor: #db4437;
    --primary: #007bff;
    --success: #28a745;
    --light: #f8f9fa;
    --gray-dark: #343a40;
    --cyan: #17a2b8;
    --danger: #dc3545;

}

body {
    background-color: var(--bodyBackground);
}

html {
    font-size: 62.5%;
}


/* start header styling */
.header-area {
    position: relative;
    width: 100%;
}

.top-header-area {
    width: 100%;
    height: 5rem;
}

.breaking-news-area {
    position: relative;

}

.breaking-news-area .news-title p {
    color: var(--textColor);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
}

.breaking-news-area .news-track p {
    color: var(--grayColor);
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
}

.breaking-news-area .news-track p:hover {
    color: var(--textColor);
}

.top-meta-data {
    width: 100%;
    margin-right: 3rem;
}

.meta-social-info {
    margin-right: 2rem;
}

.meta-social-info i {
    color: var(--grayColor);
    font-size: 1.3rem;
    margin: 1.5rem;
}

.header-search-form input {
    transition-duration: 500ms;
    width: 250px;
    height: 50px;
    border: none;
    color: #a6a6a6;
    font-size: 14px;
    font-style: italic;
    padding: 0 20px;
    background-color: transparent;

}

.header-search-form form {
    position: relative;
    border-left: 1px solid var(--grayColor);
    border-right: 1px solid var(--grayColor);
}

.header-search-form button {
    position: absolute;
    width: auto;
    height: 50px;
    background-color: transparent;
    top: 0;
    right: 20px;
    font-size: 16px;
    z-index: 99;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
}

.top-meta-data .fa-user {
    color: var(--grayColor);
    font-size: 1.3rem;
}

/* end header styling */

/* start navbar styling */
.navbar-nav .nav-link {
    color: var(--whiteCoor);
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

.navbar-nav .nav-link:hover {
    color: var(--backgroundBlack);
    border-bottom: 3px solid var(--whiteCoor);
}

/* end navbar styling */

/* heading nav */
.heading-nav:hover{
    color: var(--danger);
}
/* heading nav */



/* contact form area start--> */
#contact-section{
    padding: 3rem 0;
}
.form-control{
    background-color: var(--bg-Graydrak);
    border-radius: 0%;
    border-color: var(--bodyBackground);

}
.form-control button{
    width: 25%;
    border-radius: 0;
    
}
.newsletter-section .btn{
    padding: 1.3rem;
    border-radius: 0;

}
#contact-section .container .line {
    width: 100%;
    height: 1px;
    background-color: var(--gray-dark);
    position: relative;
    left: 0;
}
#contact-section .container .line::after{
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--background);
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

/* contact form area end--> */


/* footer-styling-start */
.footer-area {
    position: relative;
    background-color: var(--background-color1);
    padding-top: 50px;
    margin-top: 90px;
}

.footer-form .form-control {
    background-color: #393c3d;
    border: 0;
    padding: 1.3rem;
}

.footer-form .form-control::placeholder {
    color: var(--grayColor);
    font-size: 1.3rem;

}

.footer-form .input-group-text {
    background-color: var(--background);
    color: var(--whiteCoor);
    border: 0;
    padding: 1.3rem;
    font-size: 1.5rem;
}

.footer-icons span:nth-child(1) {
    background-color: var(--background-sky);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-icons span:nth-child(2) {
    background-color: var(--danger);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-icons span:nth-child(3) {
    background-color: var(--background-brown);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-icons span:nth-child(4) {
    background-color: var(--background-twitter);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-icons span:nth-child(5) {
    background-color: var(--background-link);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/* footer-styling-end */


/* ============== media query start ===============*/
@media screen and (max-width:1200px) {
    .top-header-area {
        display: none;
    }

    .left-btn-bar {
        height: 380px;
    }

}

@media screen and (max-width:992px) {

    #navbarNavAltMarkup {
        text-align: center;
        background-color: var(--background);
        margin: 3rem 0;
        border-radius: 0.5rem;
        z-index: 9999;

    }

    .left-btn-bar {
        height: 210px;

    }

    .nav-link {
        color: var(--backgroundBlack);
    }

    .navbar-nav .nav-link:hover {
        background-color: var(--backgroundBlack);
        color: var(--whiteCoor);
    }

}

@media screen and (max-width :768px) {}

@media screen and (max-width:576px) {}

/* ============== media query end===============*/